/* 主页样式 */

/* 顶部导航条的容器 */
.top-bar-wrapper{
    /* 设置外部容器全屏宽度 */
    width: 100%;
    background-color: #333;
    /* 设置高度和行高，使垂直居中 */
    height: 40px;
    line-height: 40px;
}

/* 设置超链接，字体、颜色、变成块元素用户点击 */
.top-bar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}

/* 设置超链接动态效果，鼠标移入 */
.top-bar a:hover{
    color: #fff;
}

/* 设置竖杠，分割线 */
.top-bar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
    /* margin-top: -1px; */
}

/* 设置左侧导航栏 */
.service,.top-bar li{
    float: left;
}

/* 设置右侧导航栏 */
.shop-cart,.user-info{
    float: right;
}

/* 设置购物车外边距 */
.shop-cart{
    margin-left: 26px;
}

/* 设置购物车样式 */
.shop-cart a{
    width: 120px;
    background-color: #424242;
    /* 水平居中 */
    text-align: center;
}

/* 设置购物车里面的那个小图标 */
.shop-cart i{
    position: relative;
    top: 2px;
    margin-right: 2px;
    font-size: 14px;
}

/* 设置购物车的鼠标移入效果 */
    .shop-cart:hover a{
        background-color: #fff;
        color: #ff6700;
        /* display: block;
        height: 40px; */
    }

    /* 设置购物车下拉框 */
    .shop-link .gouwuche{
        width: 350px;
        height: 0px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0px 2px 2px rgba( 0, 0, 0, 0.3);
        position: absolute;
        right: 0px;
        text-align: center;
        line-height: 100px;
        font-size: 13px;
        color: #ff6700;
        z-index: 999;
        
        transition: height 0.5s;
    }

    /* 设置动态下拉效果 */
    .shop-link:hover .gouwuche{
        height: 100px;
        /* z-index: -1; */
    }

    .shop-link .gouwuche:hover{
        display: block;
        height: 100px;
        /* z-index: -1; */
    }

    /* 给shop-cart开启相对定位 */
    .shop-link{
        position: relative;
    }

/* 设置app下拉二维码 */
    .app .qrcode{
        /* display: none; */
        width: 124px;
        height: 0px;
        overflow: hidden;
        background-color: #fff;
        text-align: center;
        line-height: 1px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        position: absolute;
        left: -38px;
        z-index: 999;
        /* transition: 用于给样式设置过渡效果 */
        transition: height 0.5s;
    }

    /* 设置二维码图片的大小 */
    .app .qrcode img{
        width: 90px;
        margin: 0 17px;
        margin-top: 17px;
        margin-bottom: 16px;
    }

    /* 设置二维码框里面的字 */
    .app .qrcode span{
        color: #000;
        font-size: 14px;
    }

    /* 给app开启相对定位 */
    .app{
        position: relative;
    }

    /* 给app设置一个伪类，用来加入小三角 */
    .app::after{
        content: "";
        line-height: 1px;
        width: 0;
        height: 0;
        /* 设置四个方向的边框 */
        border: 6px solid transparent;
        border-bottom-color: #fff;
        /* 设置绝对定位 */
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        display: none;
    }

    /* 控制小三角和二维码的显示 */
    .app:hover .qrcode,
    .app:hover::after{
        display: block;
        height: 148px;
    }


/* 设置header */
.header{
    height: 100px;
    background-color: #fff;
}

    /* 设置logo的h1 */
    .header .logo{
        float: left;
        margin-top: 22.5px;
        width: 55px;
        height: 55px;
        position: relative;
        overflow: hidden;
        font-size: 0px;
    }

    /* 设置超链接的大小 */
    .header .logo a{
        position: absolute;
        display: block;
        /* 过渡需要一个起始位置 */
        left: 0px;
        width: 55px;
        height: 55px;
        background-color: #ff6700;
        transition: left 0.5s;
    }

    /* 给小房子设置 */
    .header .logo .home img{
        height: 55px;
    }
    .header .logo .home{
        left: -55px;
    }

    /* 动态效果 */
    .header .logo:hover .mi{
        left: 55px;
    }
    .header .logo:hover .home{
        left: 0px;
    }

/* 设置头部导航条 */
.header .nav-wrapper{
    float: left;
    margin-left: 7px;
}

/* 设置ul */
.nav-wrapper .nav{
    height: 100px;
    /* background-color: #bfa; */
    line-height: 100px;
    padding-left: 58px;
}

/* 设置li */
.nav>li{
    float: left;
}

/* 设置字体样式 */
.nav-wrapper .nav li a{
    display: block;
    font-size: 16px;
    margin-right: 20px;
}

/* 设置连接动态效果 */
.nav-wrapper .nav li a:hover{
    color: #ff6700;
}

/* 设置第一个li隐藏 */
.allgoods{
    visibility:hidden;
}

/* 设置隐藏框 */
.nav .goodsinfo{
    /* height: 200px; */
    height: 0px;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 9999;
    transition: height 0.3s;
}

.nav li:not(:first-of-type):not(:nth-child(10)):not(:nth-child(9)):hover ~ .goodsinfo,
.goodsinfo:hover{
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba( 0, 0, 0, 0.2);
}

.header-wrapper{
    position: relative;
}

/* 设置搜索框 */
.search-wrapper{
    width: 296px;
    height: 50px;
    /* background-color: #bfa; */
    float: right;
    margin-top: 25px;
}

.search-wrapper input,
.search-wrapper button{
    float: left;
}

.search-wrapper input{
    /* padding: 0px; */
    box-sizing: border-box;
    height: 48px;
    border: none;
    width: 242px;
    font-size: 16px;
    padding:0 10px;
    outline: none;
    border: 1px solid rgb(224, 224, 224);
}

/* 设置input获取焦点后的样式 */
.search-wrapper input:focus{
    border: 1px solid #ff6700;
}
.search-wrapper input:focus + button{
    border: 1px solid #ff6700;
    border-left: none;
}
.search-wrapper button:hover{
    background-color: #ff6700;
    color: #fff;
    border: none;
}

.search-wrapper button{
    height: 48px;
    width: 52px;
    border: none;
    background-color: #fff;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
    color: #616161;
    font-size: 16px;
}


.allgoods-wrapper{
    position: relative;
}

/* 设置左侧导航栏样式 */
.left-menu{
    width: 234px;
    height: 460px;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    z-index: 99;
    left: -120px;
    padding:20px 0px;
}

ul.left-menu li a{
    display: block;
    height: 42px;
    color: white !important;
    line-height: 42px;
    margin-right: 0px !important;
    font-size: 14px !important;
    padding: 0 30px;
}

.left-menu a i{
    float: right;
    line-height: 42px;
    font-size: 20px;
}

ul.left-menu li a:hover{
    /* color:white; */
    background-color: #ff6700;
}


